#whoweare, #tools, #serving{
    background-color: #f2f2f2;
}
#tools, #people{
    overflow: hidden;
}
.btn.btn-white.dropdown-toggle.border-white.text-secondary {
	padding: 5px !important;
}
.slick-slide img {
    display: inline-table !important;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
}